/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

body {
	background: #929292;
}

#page-title {
    padding: 20px 0;
    background-color: #336699;
    border-bottom: 1px solid #3b537f;
}
#page-title h1,
#page-title.page-title-mini h1 {
	color: #fff;
}

.promo.promo-dark h4,
.promo.promo-dark h4 span,
.promo.promo-dark small {
    color: #fff;
}

#header,
#header-wrap {
	height: 191px;
}

#logo img {
	height: 60px;
}

#primary-menu ul li > a {
	padding: 15px !important;
}

#header.sticky-header:not(.static-sticky),
#header.sticky-header:not(.static-sticky) #header-wrap,
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img { height: 191px; }

@media (max-width: 991px) {
	#primary-menu-trigger {
	    top: 0;
	}
	#logo {
		height: 52px;
		min-height: 52px;
	}
}



.lvac-avca-logo {
	position: absolute;
	padding: 40px;
	right: 0;
	opacity: 0.2;
}
.lvac-avca-logo.top{
	top: 0;
}
.lvac-avca-logo.bottom {
	bottom: 0;
}

.lvac-about-bg {
	background: url('../images/lvac/about_bg.jpg') no-repeat;
    width: 875px;
    height: 516px;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-left: 35px;
}

.lvac-header-table {
	margin-bottom: 0;
}

.lvac-header-table-content {
	width: 978px;
	height: 139px;
	background-size: contain;
	background-repeat: no-repeat;
}

.lvac-header-table-side {
	background-repeat: repeat-x;
}

@media (max-width: 991px) {
	.lvac-header-table-content {
		height: 15vw;
	}
	.lvac-header-table-side {
		display: none;
	}
}
